<header class="sticky top-0 z-10 border-b border-zinc-950/10 bg-white p-4 md:px-8 lg:z-10 lg:flex lg:h-16 lg:items-center lg:py-0 dark:border-white/10 dark:bg-zinc-900">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <a class="group flex w-max items-center space-x-2" href="{{ "/" | relative_url }}">
    <svg class="h-8 w-8 fill-zinc-700 stroke-zinc-700 group-hover:fill-zinc-950 group-hover:stroke-zinc-950 dark:fill-zinc-300 dark:stroke-zinc-300 dark:group-hover:fill-white dark:group-hover:stroke-white" viewBox="0 0 24 24">
      <use xlink:href="{{ "assets/images/shared/logo.svg#logo" | relative_url }}"></use>
    </svg>
    <span class="text-xl/6 font-medium text-zinc-700 group-hover:text-zinc-950 dark:text-zinc-300 dark:group-hover:text-white">{{ site.title | escape }}</span>
  </a>

  {%- if titles_size > 0 -%}
    <nav class="flex flex-1 items-center gap-4 py-2.5">
      {%- for path in page_paths -%}
        {%- assign page = site.pages | where: "path", path | first -%}
        {%- if page.title -%}
        <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  {%- endif -%}
</header>