<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- if page.layout == 'post' -%}
  <body data-bs-spy="scroll" data-bs-target="#toc" data-bs-offset="160">
  {%- else -%}
  <body>
  {%- endif -%}

    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/javascript/bootstrap.bundle.min.js' | relative_url }}"></script>

    <script>
      var codeBlocks = document.querySelectorAll('pre.highlight');

      codeBlocks.forEach(function (codeBlock) {
        var copyButton = document.createElement('button');
        copyButton.className = 'btn btn-secondary';
        copyButton.type = 'button';
        copyButton.ariaLabel = 'Copy code to clipboard';
        copyButton.innerText = 'Copy';

        codeBlock.append(copyButton);
        
        copyButton.addEventListener('click', function () {
          var code = codeBlock.querySelector('code').innerText.trim();
          window.navigator.clipboard.writeText(code);
          copyButton.innerText = 'Copied';
          setTimeout(function () {
            copyButton.innerText = 'Copy';
          }, 3000);
        });
      });

      window.addEventListener('scroll', function() {
        var element = document.getElementById('site-header');
        var scrollTop = window.scrollY || window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop || 0;

        if (scrollTop > 50) {
          element.classList.add('scrolled');
        } else {
          element.classList.remove('scrolled');
        }
      });

      /* Offset Scrollspy scrolling */
      const tocLinks = document.querySelectorAll('#toc .nav-link');
      Array.prototype.forEach.call(tocLinks, function(tocLink) {
        tocLink.addEventListener('click', event => {
          event.preventDefault();
          var targetElement = document.getElementById(event.target.getAttribute('href').slice(1));
          var targetElementPosition = targetElement.getBoundingClientRect().top;
          var offsetPosition = targetElementPosition + window.pageYOffset - 112;
          window.scrollTo({top: offsetPosition, behavior: 'smooth'});
        });
      });
    </script>
  </body>

</html>
