---
layout: base
---

<div>
  {%- assign demos = site.demos -%}
  {%- if demos.size > 0 -%}
    <div class="mx-auto mb-4 grid grid-cols-1 gap-4 px-4 md:mb-8 md:grid-cols-2 md:gap-8 md:px-8 lg:max-w-screen-xl">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      {%- for demo in demos -%}
        <a class="group block space-y-1 pb-4" href="/{{ demo.slug }}">
          <div class="mb-2 flex aspect-video w-full items-center justify-center overflow-hidden rounded-md">
            <img src="/assets/images/shared/demos.jpg" alt="Abstract painting by Aurelius Wendelken" class="transform-gpu object-none transition duration-300 ease-in-out group-hover:scale-110" style="object-position: {{ post.x }}% {{ post.y }}%;" />
          </div>
          <div class="text-sm/6 text-zinc-500 group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300">{{ demo.date | date: date_format }}</div>
          <h1 class="text-xl/8 font-semibold text-zinc-700 group-hover:text-zinc-950 dark:text-zinc-300 dark:group-hover:text-white">
              {{ demo.title | escape }}
          </h1>
          <p class="line-clamp-3 text-base/6 text-zinc-500 group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300">
            {{ demo.description | escape }}
          </p>
      </a>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>