---
layout: default
---
<div class="container-xxxl pt-header px-2 px-md-3">
  {%- if site.posts.size > 0 -%}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2 g-md-3">
      <div class="col">
        <div class="card ratio overflow-hidden" style="background-color: #f3f1e5; --bs-aspect-ratio: 100%;">
          <img src="/assets/images/shared/splash.png" class="card-img" alt="Abstract artwork">
          <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
            <h1 class="card-title fs-1 fs-md-3 fs-xl-1"><a href="{{ "/authors/tlyleung" | relative_url }}" class="stretched-link link-dark text-decoration-none">Hi there. I’m Timothy, a Machine Learning Engineer with 8 years of experience building AI-driven products.</a></h1>
            <div class="m-2 m-md-3 px-2 py-1 position-absolute top-0 end-0 d-flex justify-content-center" style="background-color: #333333;">
              <img width="16" height="16" src="/assets/images/shared/pin.svg" class="m-1 d-inline d-md-none" alt="Pin"></img>
              <img width="23" height="23" src="/assets/images/shared/pin.svg" class="m-1 d-none d-md-inline" alt="Pin"></img>
            </div>
          </div>
        </div>
      </div>
      {%- for post in site.posts -%}
      <div class="col">
        <div class="card ratio overflow-hidden" style="background-color: #f3f1e5; --bs-aspect-ratio: 100%;">
          <img src="{{ post.image }}" class="card-img" alt="Abstract artwork">
          <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
            <h1 class="card-title fs-1 fs-md-3 fs-xl-1"><a href="{{ post.url | relative_url }}" class="stretched-link link-dark text-decoration-none">{{ post.title | escape }}</a></h1>
            {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
            <div class="m-2 m-md-3 px-2 py-1 position-absolute top-0 end-0 text-white" style="background-color: #333333;">{{ post.date | date: date_format }}</div>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
