---
layout: base
---

<div class="
columns-sm gap-4 px-4 md:px-8 max-w-none
prose prose-sm prose-zinc dark:prose-invert
prose-headings:font-medium prose-headings:my-2
prose-h1:text-base prose-h2:text-sm prose-h3:text-xs
prose-p:mt-0 prose-p:text-zinc-500 dark:prose-p:text-zinc-400
prose-a:font-normal prose-a:text-zinc-500 dark:prose-a:text-zinc-400
prose-strong:text-zinc-500 dark:prose-strong:text-zinc-400
prose-pre:bg-transparent prose-pre:p-0 prose-pre:text-sm prose-pre:text-zinc-500 dark:prose-pre:text-zinc-400
prose-inline-code:whitespace-nowrap prose-inline-code:rounded-md prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:text-xs/5 prose-inline-code:bg-zinc-600/10 dark:prose-inline-code:bg-white/10 prose-inline-code:text-zinc-500 dark:prose-inline-code:text-zinc-400 before:prose-inline-code:content-none after:prose-inline-code:content-none
prose-ol:mt-0 prose-ul:mt-0 prose-li:mt-0 prose-li:text-zinc-500 dark:prose-li:text-zinc-400
prose-hr:my-4
">
  {{ content }}
</div>