---
layout: base
---

<article class="prose lg:prose-xl prose-zinc dark:prose-invert mx-auto mb-12 max-w-prose p-4" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <p>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="font-semibold text-xl text-zinc-500 lg:text-2xl dark:text-zinc-400">{{ page.subtitle | escape }}</p>
    <div class="flex aspect-video w-full items-center justify-center overflow-hidden rounded-md">
      <img src="/assets/images/shared/abstract.jpg" alt="Abstract painting by Aurelius Wendelken" class="object-none" style="object-position: {{ page.x }}% {{ page.y }}%;" />
    </div>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
